@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

$sky: rgb(135, 206, 235);
$rock: rgb(67, 48, 47);

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Changement de la couleur de la bar de navigation du fullpage */
a span {
    background: whitesmoke !important;
}

/* AI Styling */
.typewriter:after {
    border-right: 0.05em solid whitesmoke;
    animation: caret_typewriter 1s steps(1) infinite;
    content: "";
}

@keyframes caret_typewriter {
    50% {
      border-color: transparent;
    }
}

/* SVG WRAPPER */
.svg-wrapper {
    position: relative;
    top: 6em;
    margin: 0 auto;
    width: 320px; 
    height: 60px; 
}

.shape {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
    fill: transparent;
    stroke: $sky;
    border-bottom: 5px solid black;
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

.svg-wrapper:hover .shape {
    stroke-width: 2px;
    stroke-dashoffset: 0;
    stroke-dasharray: 760;
}

/* CSS pour la page */
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    text-align: center;
    color: whitesmoke;

    //fp-controlArrow on slides change place
    .fp-controlArrow.fp-prev {
        left: 5%;
        filter: drop-shadow(10px 10px 1em rgba(0, 0, 0, 0.3));
    }

    .fp-controlArrow.fp-next {
        right: 5%;
        filter: drop-shadow(10px 10px 1em rgba(0, 0, 0, 0.3));
    }
}


body > nav { /* Navbar du haut */
    width: 100vw;
    height: 10%;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;

    .name {
        //width: 30vw;
        z-index: 2;

        h3 {
            margin: 0;
            padding: 16px 15px;
            display: inline-block;
            vertical-align: middle;
        }

        img {
            display: inline-block;
            vertical-align: middle;
        }
    }

    .menu {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-evenly;

        ul {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
            list-style: none;
            background: transparent;
            overflow: hidden;
            padding: 0;
            margin: 0;
            transition: 1s;
    
            li {
                display: inline-block;
                padding: 16px 40px;
        
                a {
                    text-decoration: none;
                    color: whitesmoke;
                    font-size: 16px;
                }
            }
        }

        a.button {
            text-decoration: none;
            display: block;
            background: $sky;
            color: whitesmoke;
            border-radius: 5em;
            padding: 10px 15px;
            margin-left: 2em;
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
        }

        a.button:hover {
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
        }
    }
}

body > nav.is-open {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh !important;
    width: 100vw;
    background-color: white;
    z-index: 101;
    overflow: hidden;

    .name {
        color: black;
        position: fixed;
        top: 10px;
    }
    
    .menu {
        height: 100vh;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        ul {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;

            a {
                color: black;
                font-size: 1.5em;
            }
        }

        a.button {
            margin: 2em 0 0 0;
            background-color: $rock;
        }
    }

    #burger {
        position: absolute;
        top: 0;
        left: 0;

        .line {
            stroke: black;
        }
    }
}

.s1 { /* Première section */
    padding: 0 !important;

    .social {
        font-size: 2rem;
        position: relative;
        top: -1.7em;
        height: 60px;
        transform: translateY(-10px);

        a {
            color: salmon;
            vertical-align: sub;
        }
    }

    .polygoneShadow {
        position: absolute;
        top: 0;
        filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
    }

    .background-image {
        min-width: 100vw;
        height: 95vh;
        background-image: url('../img/background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        clip-path: polygon(100% 0, 100% 87%, 50% 100%, 0 87%, 0 0);
        filter: blur(5px);
        position: fixed;
        top: 0;
    }

    .content {
        min-width: 100vw;
        height: 95vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        z-index: 5;
    }

    h1 {
        font-family: 'Poppins';
        font-size: 50px;
        letter-spacing: 1px;
        position: relative;
    }  
}

.s2 { /* Deuxième section */
    /* fonctionne pas pcq fullpage
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    */ 

    h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 3em;
        font-variant: small-caps;
        color: lightcoral;
        margin: 7% 0 5% 0;
    }

    img {
        border-radius: 50%;
        height: 25vw;
        width: 25vw;
        filter: drop-shadow(10px 10px 1em rgba(0, 0, 0, 0.5));
    }

    p {
        text-align: center;
        margin-left: 2em;
        margin: 0 5% 5% 5%;
    }

    .first-flex-container {
        max-width: 50vw;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    .second-flex-container { //not really a flex container coz again fullpage m'y oblige
        position: absolute;
        bottom: 8vh;
        right: 5vw;
        width: 45vw;

        /* SKILLS */
 
        .skills-list {
            overflow: hidden;
            position: relative;
            z-index: 10
        }

        .skill-name:after {
            background-color: #999797;
            content: '';
            display: block;
            height: 1rem;
            position: relative;
            top: 3px;
            /*top: 1rem;*/
            width: 100%;
        }

        .skill-percent {
            font-size: 0;
            height: 1rem;
            position: relative;
            top: -.8rem;
            transition: 3s linear;
            width: 0;
            margin-left: 0;
        }

        /* SKILL BAR COLORS */

        .skill-percent-web {
            background-color: #00B1DB;
        }
        .skill-percent-js {
            background-color: #FFC100;
        }
        .skill-percent-php {
            background-color: #554699;
        }
        .skill-percent-sql {
            background-color: #3841c9;
        }
        .skill-percent-c {
            background-color: #8a8ec9;
        }
        .skill-percent-py {
            background-color: #059400;
        }
        .skill-percent-unix {
            background-color: #0073b0;
        }
        .skill-percent-java {
            background-color: #ff5c00;
        }
        .skill-percent-projet {
            background-color: #FF8B00;
        }
    }
}

.s3 { /* Troisième section */
    article {
        max-width: 70vw;
        margin: auto;

        h1 {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 4em;
            font-variant: small-caps;
            color: $rock;
        }

        .thumbnail {
            padding: 0.25rem;
            background-color: #fff;
            border: 1px solid #dee2e6;
            border-radius: 0.25rem;
        }

        a {
            filter: drop-shadow(10px 10px 1em rgba(0, 0, 0, 0.2));
            :hover {
                filter: drop-shadow(10px 10px 1em rgba(0, 0, 0, 0.2));
            }
        }
    }

    .article1 {
        h1 {
            color: rgb(0, 16, 107);
        }

        img {
            width: 35%;
            height: 35%;
        }
    }

    .article2 {
        h1 {
            color: rgb(37, 158, 26);
        }

        img {
            width: 45%;
            height: 45%;
        }
    }

    .article3 {
        h1 {
            color: black;
        }

        img {
            width: 40%;
            height: 40%;
        }
    }

    .article4 {
        h1 {
            color: rgb(53, 92, 199);
        }
        
        img {
            width: 15%;
            height: 15%;
            background-color: #FFB840;
        }
    }
}

.s4 { /* Quatrième section */

    h1 {
        text-align: left;
        margin-left: 2em;
        font-size: 2em;
    }
}

/* Heading Underline */

.underline {
    display: inline-block;
    position: relative;
}

.underline:before {
    background-color: #fff;
    bottom: -15px;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    width: 110%;
}

/* Loader */

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(49, 98, 161);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sk-folding-cube {
    width: 3em;
    height: 3em;
    position: relative;
    transform: rotateZ(45deg);
}
  
.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    transform: scale(1.1); 
}

.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
    transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
    transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
    transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
    animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
    animation-delay: 0.6s; 
}

.sk-folding-cube .sk-cube4:before {
    animation-delay: 0.9s;
}

@keyframes sk-foldCubeAngle {
    0%, 10% {
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0; 
    } 25%, 75% {
        transform: perspective(140px) rotateX(0deg);
        opacity: 1; 
    } 90%, 100% {
        transform: perspective(140px) rotateY(180deg);
        opacity: 0; 
    }
}

.ham {
    display: none;
}

/* Media Queries */

@media(max-width: 786px) {
    
    /* Flippin' burger */

    .ham {
        display: block;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        transition: transform 400ms;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .hamRotate.active {
        transform: rotate(45deg);
    }

    .hamRotate180.active {
        transform: rotate(180deg);
    }

    .line {
        fill:none;
        transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
        stroke: white;
        stroke-width:5.5;
        stroke-linecap:round;
    }

    .ham6 .top {
        stroke-dasharray: 40 172;
    }

    .ham6 .middle {
        stroke-dasharray: 40 111;
    }

    .ham6 .bottom {
        stroke-dasharray: 40 172;
    }

    .ham6.active .top {
        stroke-dashoffset: -132px;
    }

    .ham6.active .middle {
        stroke-dashoffset: -71px;
    }

    .ham6.active .bottom {
        stroke-dashoffset: -132px;
    }

    body > nav {
        display: block;
        height: 80px;
        padding: 0;

        .menu {
            display: none;
        }

        .name {
            padding: 0;
            position: fixed;
            top: 10px;
            left: 32vw;
            width: auto;

            img {
                margin: 0;
            }
        }
    }
    
    #fp-nav {
        right: 5px !important;
    }

    .polygoneShadow {
        filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
    }

    .s1 {
        .background-image {
            height: 97vh;
            clip-path: polygon(100% 0, 100% 93%, 50% 100%, 0 93%, 0 0);
        }

        .content {
            min-width: 80vw;
            margin-left: 10vw;
            #reg_ai {
                position: absolute;
                top: 35%;
            }
        }

        h1 {
            font-size: 30px;
        }

        .svg-wrapper {
            position: absolute;
            top: 70%;
        }

    }

    .s2 {
        .first-flex-container {
            min-width: 100vw;
            min-height: 75vh;
            justify-content: space-evenly;

            img {
                height: 35vh;
                width: 35vh;
            }
        }

        .second-flex-container {
            display: none;
        }
    }
}