@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

$couleurNav: grey;

span { /* Changement de la couleur du navigation du fullpage */
    background: $couleurNav !important;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    text-align: center;
    color: whitesmoke;
}

nav {
    width: 100vw;
    height: 7vh;
    position: absolute;
    top: 0;
    background-color: black;
    opacity: 0.3;
    z-index: 1;
    padding: 15px 0;

    .name {
        text-align: left;
        width: 40vw;
        margin: 1em 0;
        padding-left: 5em;
        z-index: 2;
    }
}

.s1 { /* Première section */
    padding: 0 !important;
    filter: drop-shadow(-1px 6px 3px rgba(255, 2, 2, 0.5));

    .accueil {
        position: fixed;
        top: 0;
        min-width: 100vw;
        height: 95vh;
        background-image: url('../img/one.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        clip-path: polygon(100% 0, 100% 87%, 50% 100%, 0 87%, 0 0);
    }

    h1 {
        font-family: 'Poppins';
        font-size: 50px;
        letter-spacing: 1px;
    }  
}

.s2 { /* Deuxième section */
    /*max-height: 100vh;*/
    h1 {
        text-align: left;
        margin-left: 2em;
        font-size: 4rem;
    }

    div {
        display: inline-block;
        height: 100vh;
    }

    .d1 {
        background-color: lightblue;
        width: 35vw;
    }

    .d2 {
        background-color: lightpink;
        width: 65vw;
    }
}

.s3 { /* Troisième section */
    background-image: url('../img/three.jpg');
    background-size: cover;

    h1 {
        text-align: left;
        margin-left: 2em;
        font-size: 2em;
    }
}