@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Changement de la couleur de la bar de navigation du fullpage */
a span {
  background: whitesmoke !important;
}

/* Changement de la couleur de la bar de navigation horizontale avec JQuery*/
.black {
  background-color: rgba(0, 0, 0, 0.5);
}

/* AI Styling */
.typewriter:after {
  border-right: 0.05em solid whitesmoke;
  -webkit-animation: caret_typewriter 1s steps(1) infinite;
          animation: caret_typewriter 1s steps(1) infinite;
  content: "";
}

@-webkit-keyframes caret_typewriter {
  50% {
    border-color: transparent;
  }
}

@keyframes caret_typewriter {
  50% {
    border-color: transparent;
  }
}

/* SVG WRAPPER */
.svg-wrapper {
  position: relative;
  top: 10em;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0 auto;
  width: 320px;
}

.shape {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  fill: transparent;
  stroke: skyblue;
  border-bottom: 5px solid black;
  -webkit-transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

.svg-wrapper:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}

/* CSS pour la page */
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  text-align: center;
  color: whitesmoke;
}

body > nav {
  /* Navbar du haut */
  width: 100vw;
  height: 7vh;
  position: fixed;
  top: 0;
  background: transparent;
  z-index: 1;
  padding: 15px 0;
}

body > nav .name {
  position: relative;
  float: left;
  width: 40vw;
  padding-left: 5em;
  z-index: 2;
  text-align: left;
}

body > nav .name h3 {
  margin: 0;
  padding: 16px 15px;
  display: inline-block;
  vertical-align: middle;
}

body > nav .name img {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5em;
}

body > nav ul {
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  -webkit-transition: 1s;
  transition: 1s;
}

body > nav li {
  display: inline-block;
  padding: 16px 40px;
}

body > nav a {
  text-decoration: none;
  color: whitesmoke !important;
  font-size: 16px;
}

.section {
  max-height: 100vh !important;
}

.s1 {
  /* Première section */
  padding: 0 !important;
}

.s1 .social {
  font-size: 2rem;
  position: relative;
  top: -1.7em;
}

.s1 .social a {
  color: salmon;
}

.s1 .polygoneShadow {
  position: absolute;
  top: 0;
  -webkit-filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
          filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}

.s1 .background-image {
  min-width: 100vw;
  height: 95vh;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-clip-path: polygon(100% 0, 100% 87%, 50% 100%, 0 87%, 0 0);
          clip-path: polygon(100% 0, 100% 87%, 50% 100%, 0 87%, 0 0);
  -webkit-filter: blur(5px);
          filter: blur(5px);
  position: fixed;
  top: 0;
}

.s1 .content {
  min-width: 100vw;
  height: 95vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  z-index: 5;
}

.s1 h1 {
  font-family: 'Poppins';
  font-size: 50px;
  letter-spacing: 1px;
  position: relative;
}

.s2 {
  /* Deuxième section */
  /*
    .flex-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        max-width: 50%;
    }
    */
}

.s2 h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3em;
  font-variant: small-caps;
  color: lightcoral;
  margin: 7% 0 5% 0;
}

.s2 img {
  border-radius: 50%;
  height: 50%;
  width: 50%;
  -webkit-filter: drop-shadow(10px 10px 1em rgba(0, 0, 0, 0.486));
          filter: drop-shadow(10px 10px 1em rgba(0, 0, 0, 0.486));
}

.s2 p {
  text-align: center;
  margin-left: 2em;
  margin: 0 5% 5% 5%;
}

.s2 .first-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 50%;
}

.s2 .second-flex-container {
  max-width: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.s3 {
  /* Troisième section */
  min-width: 100vw;
}

.s4 {
  /* Quatrième section */
}

.s4 h1 {
  text-align: left;
  margin-left: 2em;
  font-size: 2em;
}

/* SKILLS */
#skills {
  padding: 20px 15px 75px 15px;
  color: #fff;
}

.skills-text {
  min-width: 30em;
  font-size: 20px;
  position: absolute;
  right: 5em;
  bottom: 2em;
}

.skills-list {
  overflow: hidden;
  position: relative;
  z-index: 10;
}

.skill-name:after {
  background-color: #999797;
  content: '';
  display: block;
  height: 1rem;
  position: relative;
  top: 3px;
  /*top: 1rem;*/
  width: 100%;
}

.skill-percent {
  font-size: 0;
  height: 1rem;
  position: relative;
  top: -.8rem;
  -webkit-transition: 3s linear;
  transition: 3s linear;
  width: 0;
  margin-left: 0;
}

/* SKILL BAR COLORS */
.skill-percent-web {
  background-color: #00B1DB;
}

.skill-percent-js {
  background-color: #FFC100;
}

.skill-percent-php {
  background-color: #554699;
}

.skill-percent-sql {
  background-color: #3841c9;
}

.skill-percent-c {
  background-color: #8a8ec9;
}

.skill-percent-py {
  background-color: #059400;
}

.skill-percent-unix {
  background-color: #0073b0;
}

.skill-percent-java {
  background-color: #ff5c00;
}

.skill-percent-projet {
  background-color: #FF8B00;
}

/* Heading Underline */
.underline {
  display: inline-block;
  position: relative;
}

.underline:before {
  background-color: #fff;
  bottom: -15px;
  content: '';
  height: 2px;
  left: 0;
  position: absolute;
  width: 110%;
}

/* Loader */
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #3162a1;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sk-folding-cube {
  width: 3em;
  height: 3em;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

.ham {
  display: none;
}

/* Media Queries */
@media (max-width: 786px) {
  /* Flippin' burger */
  .ham {
    display: block;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-transition: -webkit-transform 400ms;
    transition: -webkit-transform 400ms;
    transition: transform 400ms;
    transition: transform 400ms, -webkit-transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .hamRotate.active {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .hamRotate180.active {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .line {
    fill: none;
    -webkit-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: white;
    stroke-width: 5.5;
    stroke-linecap: round;
  }
  .ham6 .top {
    stroke-dasharray: 40 172;
  }
  .ham6 .middle {
    stroke-dasharray: 40 111;
  }
  .ham6 .bottom {
    stroke-dasharray: 40 172;
  }
  .ham6.active .top {
    stroke-dashoffset: -132px;
  }
  .ham6.active .middle {
    stroke-dashoffset: -71px;
  }
  .ham6.active .bottom {
    stroke-dashoffset: -132px;
  }
  nav {
    /*
        ul {
            max-height: 0px;
            background: #000;
        }

        li {
            box-sizing: border-box;
            width: 100%;
            padding: 24px;
            text-align: center;
        }

        .menu-icon {
            display: block;
        }

        .name {
            position: fixed;
            top: 0;
            margin-top: 16px;
        }
        */
    height: 11vh !important;
    padding: 0 !important;
  }
  nav .menu {
    display: none;
  }
  nav .name {
    padding: 0 !important;
    position: fixed !important;
    top: 2%;
    right: 20%;
    width: 50% !important;
  }
  nav .name img {
    margin: 0 !important;
  }
  .s1 .content #reg_ai {
    position: fixed;
    top: 40%;
  }
  .s1 h1 {
    font-size: 35px;
  }
  .s1 .svg-wrapper {
    position: fixed;
    top: 60%;
  }
}
/*# sourceMappingURL=main.css.map */