@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

$couleurNav: whitesmoke;

span { /* Changement de la couleur de la bar de navigation du fullpage */
    background: $couleurNav !important;
}

.black { /* Changement de la couleur de la bar de navigation horizontale avec JQuery*/
    background-color: rgba(0, 0, 0, 0.5);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    text-align: center;
    color: whitesmoke;
}

nav {
    width: 100vw;
    height: 7vh;
    position: absolute;
    top: 0;
    background: transparent;
    z-index: 1;
    padding: 15px 0;

    .name {
        position: fixed;
        float: left;
        width: 40vw;
        padding-left: 5em;
        z-index: 2;
        text-align: left;

        h3 {
            margin: 0;
            padding: 16px 15px;
            display: inline-block;
            vertical-align: middle;
        }

        img {
            display: inline-block;
            vertical-align: middle;
            margin-left: 5em;
        }
    }

    ul {
        list-style: none;
        background: rgba(0, 0, 0, 0);
        overflow: hidden;
        color: #fff;
        padding: 0;
        text-align: right;
        margin: 0;
        padding-right: 40px;
        transition: 1s;
    }

    li {
        display: inline-block;
        padding: 16px 40px;;
    }

    a {
        text-decoration: none;
        color: white !important;
        font-size: 16px;
    }
}

.s1 { /* Première section */
    padding: 0 !important;
    
    .polygoneShadow {
        position: absolute;
        top: 0;
        filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
    }

    .home {
        min-width: 100vw;
        height: 95vh;
        background-image: url('../img/background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        clip-path: polygon(100% 0, 100% 87%, 50% 100%, 0 87%, 0 0);
    }

    h1 {
        font-family: 'Poppins';
        font-size: 50px;
        letter-spacing: 1px;
    }  
}

.s2 { /* Deuxième section */
    h1 {
        text-align: left;
        margin-left: 2em;
        font-size: 4rem;
    }

    div {
        display: inline-block;
        height: 100vh;
    }
}

.s3 { /* Troisième section */

    h1 {
        text-align: left;
        margin-left: 2em;
        font-size: 2em;
    }
}

.s3 { /* Quatrième section */

    h1 {
        text-align: left;
        margin-left: 2em;
        font-size: 2em;
    }
}

/* Media Query */
@media(max-width: 786px) {
    nav {
        ul {
            max-height: 0px;
            background: #000;
        }

        li {
            box-sizing: border-box;
            width: 100%;
            padding: 24px;
            text-align: center;
        
        }

        .menu-icon {
            display: block;
        }

        .name {
            position: fixed;
            top: 0;
            margin-top: 16px;
        }
    }
}