@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

$sky: rgb(135, 206, 235);
$rock: rgb(67, 48, 47);

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Changement de la couleur de la bar de navigation du fullpage */
a span {
    background: whitesmoke !important;
}

/* Changement de la couleur de la bar de navigation horizontale avec JQuery*/
.black {
    background-color: rgba(0, 0, 0, 0.5);
}

/* AI Styling */
.typewriter:after {
    border-right: 0.05em solid whitesmoke;
    animation: caret_typewriter 1s steps(1) infinite;
    content: "";
}

@keyframes caret_typewriter {
    50% {
      border-color: transparent;
    }
}

/* SVG WRAPPER */
.svg-wrapper {
    position: relative;
    top: 10em;
    transform: translateY(-50%);
    margin: 0 auto;
    width: 320px;  
}

.shape {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
    fill: transparent;
    stroke: $sky;
    border-bottom: 5px solid black;
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

.svg-wrapper:hover .shape {
    stroke-width: 2px;
    stroke-dashoffset: 0;
    stroke-dasharray: 760;
}

/* CSS pour la page */
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    text-align: center;
    color: whitesmoke;
}

body > nav {
    width: 100vw;
    height: 7vh;
    position: absolute;
    top: 0;
    background: transparent;
    z-index: 1;
    padding: 15px 0;

    .name {
        position: fixed;
        float: left;
        width: 40vw;
        padding-left: 5em;
        z-index: 2;
        text-align: left;

        h3 {
            margin: 0;
            padding: 16px 15px;
            display: inline-block;
            vertical-align: middle;
        }

        img {
            display: inline-block;
            vertical-align: middle;
            margin-left: 5em;
        }
    }

    ul {
        list-style: none;
        background: rgba(0, 0, 0, 0);
        overflow: hidden;
        padding: 0;
        text-align: right;
        margin: 0;
        padding-right: 40px;
        transition: 1s;
    }

    li {
        display: inline-block;
        padding: 16px 40px;;
    }

    a {
        text-decoration: none;
        color: whitesmoke !important;
        font-size: 16px;
    }
}

.s1 { /* Première section */
    padding: 0 !important;

    .social {
        font-size: 2rem;
        position: relative;
        top: -1.7em;

        a {
            color: salmon;
        }
    }

    .polygoneShadow {
        position: absolute;
        top: 0;
        filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
    }

    .background-image {
        min-width: 100vw;
        height: 95vh;
        background-image: url('../img/background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        clip-path: polygon(100% 0, 100% 87%, 50% 100%, 0 87%, 0 0);
        filter: blur(5px);
        position: fixed;
        top: 0;
    }

    .content {
        min-width: 100vw;
        height: 95vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        z-index: 5;
    }

    h1 {
        font-family: 'Poppins';
        font-size: 50px;
        letter-spacing: 1px;
        position: relative;
    }  
}

.s2 { /* Deuxième section */

    h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 3em;
        font-variant: small-caps;
        color: lightcoral;
        position: absolute;
        right: 5.5em;
        top: 1.5em;
    }

    img {
        display: flex;
        border-radius: 50%;
        height: 45%;
        position: absolute;
        bottom: 3em;
        filter: drop-shadow(10px 10px 1em rgba(0, 0, 0, 0.486));
    }

    .description {
        text-align: left;
    }
}

.s3 { /* Troisième section */
    min-width: 100vw;

}

.s4 { /* Quatrième section */

    h1 {
        text-align: left;
        margin-left: 2em;
        font-size: 2em;
    }
}

/* SKILLS */

#skills {
    padding: 20px 15px 75px 15px;
    color: #fff;
}

.skills-text {
    min-width: 30em;
    font-size: 20px;
    position: absolute;
    right: 5em;
    bottom: 2em;
    
}

.skills-list {
    overflow: hidden;
    position: relative;
    z-index: 10
}

.skill-name:after {
    background-color: #999797;
    content: '';
    display: block;
    height:1rem;
    position: relative;
    top: 3px;
    /*top: 1rem;*/
    width: 100%;
}

.skill-percent {
    font-size: 0;
    height: 1rem;
    position: relative;
    top: -.8rem;
    transition: 3s linear;
    width: 0;
    margin-left: 0;
}

/* SKILL BAR COLORS */

.skill-percent-html {
    background-color: #FF5C00;
}
.skill-percent-css {
    background-color: #00B1DB;
}
.skill-percent-jquery {
    background-color: #FFC100;
}
.skill-percent-scss {
    background-color: #FF768E;
}
.skill-percent-javascript {
    background-color: #FF8B00;
}
.skill-percent-wordpress {
    background-color: #0073b0;
}
.skill-percent-php {
    background-color: #464c99;
}
.skill-percent-git {
    background-color: #ff5c00;
}

/* Heading Underline */

.underline {
    display: inline-block;
    position: relative;
}

.underline:before {
    background-color: #fff;
    bottom: -15px;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    width: 110%;
}



/* Media Queries */

@media(max-width: 786px) {
    nav {
        ul {
            max-height: 0px;
            background: #000;
        }

        li {
            box-sizing: border-box;
            width: 100%;
            padding: 24px;
            text-align: center;
        }

        .menu-icon {
            display: block;
        }

        .name {
            position: fixed;
            top: 0;
            margin-top: 16px;
        }
    }
}

/* Loader */

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(49, 98, 161);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sk-folding-cube {
    width: 3em;
    height: 3em;
    position: relative;
    transform: rotateZ(45deg);
}
  
.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    transform: scale(1.1); 
}

.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
    transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
    transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
    transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
    animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
    animation-delay: 0.6s; 
}

.sk-folding-cube .sk-cube4:before {
    animation-delay: 0.9s;
}

@keyframes sk-foldCubeAngle {
    0%, 10% {
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0; 
    } 25%, 75% {
        transform: perspective(140px) rotateX(0deg);
        opacity: 1; 
    } 90%, 100% {
        transform: perspective(140px) rotateY(180deg);
        opacity: 0; 
    }
}