@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

a span {
  /* Changement de la couleur de la bar de navigation du fullpage */
  background: whitesmoke !important;
}

.black {
  /* Changement de la couleur de la bar de navigation horizontale avec JQuery*/
  background-color: rgba(0, 0, 0, 0.5);
}

.typewriter:after {
  /* AI Styling */
  border-right: 0.15em solid whitesmoke;
  -webkit-animation: caret_typewriter 1s steps(1) infinite;
          animation: caret_typewriter 1s steps(1) infinite;
  content: "";
  position: absolute;
  top: 10px;
  height: 70%;
}

@-webkit-keyframes caret_typewriter {
  50% {
    border-color: transparent;
  }
}

@keyframes caret_typewriter {
  50% {
    border-color: transparent;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  text-align: center;
  color: whitesmoke;
}

nav {
  width: 100vw;
  height: 7vh;
  position: absolute;
  top: 0;
  background: transparent;
  z-index: 1;
  padding: 15px 0;
}

nav .name {
  position: fixed;
  float: left;
  width: 40vw;
  padding-left: 5em;
  z-index: 2;
  text-align: left;
}

nav .name h3 {
  margin: 0;
  padding: 16px 15px;
  display: inline-block;
  vertical-align: middle;
}

nav .name img {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5em;
}

nav ul {
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  -webkit-transition: 1s;
  transition: 1s;
}

nav li {
  display: inline-block;
  padding: 16px 40px;
}

nav a {
  text-decoration: none;
  color: whitesmoke !important;
  font-size: 16px;
}

.s1 {
  /* Première section */
  padding: 0 !important;
}

.s1 .polygoneShadow {
  position: absolute;
  top: 0;
  -webkit-filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
          filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}

.s1 .home {
  min-width: 100vw;
  height: 95vh;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-clip-path: polygon(100% 0, 100% 87%, 50% 100%, 0 87%, 0 0);
          clip-path: polygon(100% 0, 100% 87%, 50% 100%, 0 87%, 0 0);
}

.s1 h1 {
  font-family: 'Poppins';
  font-size: 50px;
  letter-spacing: 1px;
  position: relative;
}

.s2 {
  /* Deuxième section */
}

.s2 h1 {
  text-align: left;
  margin-left: 2em;
  font-size: 4rem;
}

.s2 div {
  display: inline-block;
  height: 100vh;
}

.s3 {
  /* Troisième section */
}

.s3 h1 {
  text-align: left;
  margin-left: 2em;
  font-size: 2em;
}

.s3 {
  /* Quatrième section */
}

.s3 h1 {
  text-align: left;
  margin-left: 2em;
  font-size: 2em;
}

/* Media Query */
@media (max-width: 786px) {
  nav ul {
    max-height: 0px;
    background: #000;
  }
  nav li {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding: 24px;
    text-align: center;
  }
  nav .menu-icon {
    display: block;
  }
  nav .name {
    position: fixed;
    top: 0;
    margin-top: 16px;
  }
}
/*# sourceMappingURL=main.css.map */