body {
    background-image: url(../img/fond.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.2);
}

.navbar-brand {
    margin-left: 11%;
}

header {
    margin: 0 !important; /* Réctifier la classe row de bootstrap */
    padding: 0;
    position: absolute;
    right: 0;
    left: 0;
    top: 25%;
}

header h1 {
    font-family: 'Mrs Saint Delafield', cursive;
    font-weight: bold;
}

header img {
    height: 15em;
    position: absolute;
    right: 0;
}

header p {
    margin: 0;
    font-size: x-large;
}

header a {
    color: aliceblue;
}